
// Settings -----------------------------------

@set-color-uno:  hsl(40, 100%, 50%);
@set-color-duo:  hsl(220,100%, 50%);
@set-saturation: 0%; // -/+n%
@set-contrast:   0%;


// Config -----------------------------------

@syntax-hue-uno:    hsvhue(@set-color-uno);
@syntax-hue-duo:    hsvhue(@set-color-duo);
@syntax-saturation: max(2% + @set-saturation, 0%);
@syntax-brightness: 98%;
@syntax-contrast:   @set-contrast * 0.1;


// Base colors -----------------------------------

@syntax-accent-color: hsl(@syntax-hue-duo, @set-saturation + 90%, (@syntax-brightness - (@syntax-contrast*10) - 36%) );
@syntax-base-color:   hsv(@syntax-hue-uno, @syntax-saturation, @syntax-brightness);
@syntax-text:         hsl(@syntax-hue-uno, @syntax-saturation, min(30%, (@syntax-brightness + @syntax-contrast) * -3) );
@syntax-guide-color:  fade(@syntax-text, 15%);



// Language colors -----------------------------------

// Uno hue
@uno-1: hsl(@syntax-hue-uno, @syntax-saturation*8 + 60%, @syntax-brightness - 88% - @syntax-contrast*2);
@uno-2: hsl(@syntax-hue-uno, @syntax-saturation*4 + 50%, @syntax-brightness - 64% - @syntax-contrast*1.5);
@uno-3: hsl(@syntax-hue-uno, @syntax-saturation*2 + 30%, @syntax-brightness - 44% - @syntax-contrast*1.2);
@uno-4: hsl(@syntax-hue-uno, @syntax-saturation/2 + 15%, @syntax-brightness - 32% - @syntax-contrast);

// Duo hue
@duo-1: hsl(@syntax-hue-duo, @syntax-saturation*6 + 80%, @syntax-brightness - 70% - @syntax-contrast*2);
@duo-2: hsl(@syntax-hue-duo, @syntax-saturation*3 + 40%, @syntax-brightness - 36% - @syntax-contrast*1.5);
@duo-3: hsl(@syntax-hue-duo, @syntax-saturation   + 10%, @syntax-brightness - 32% - @syntax-contrast*1.2);
@duo-4: hsl(@syntax-hue-duo, @syntax-saturation/4 +  5%, @syntax-brightness - 28% - @syntax-contrast);
